.msgPop{
    margin: 0 15px;
    max-width: 400px;
    min-height: 28px;
    line-height: 28px;
    border-radius: 5px;
    vertical-align: top;
    background-color: darkseagreen;
    display: inline-block;
}